  *{
    font-family:'Times New Roman';
  }
  #topic{ 
    color:white;
    background-color:rgb(27, 149, 224);
    text-align:center;
    font-size:1rem;
  }
  p,i,li{
    font-size:1.75rem;
  }
  #table{
   align-items:center;
   justify-content:space-between;
    font-size:2rem;
    border:1px solid black;
    width:80%;
    background-color:brown; 
  }
  #about{
    text-align:center;
    color:blue;
  }
  .link{
    color:white; 
    text-decoration:none;
    font-size:2.25rem;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .cont{
    text-align:center;
  color:black;
    font-size:2rem;
  }
  td{
    padding:2%;
  }
  .rides{
    font-size:2rem;
    color:blue;
    text-align:center;
  }
.cont1{
  text-align:center;
}
#table1{
  width:60%;
  margin-right:auto;
  margin-left:auto;
  font-size:1.5em;
}
h4{
  text-align:center;
}
